<%- include partials/header.ejs %>

    <h1><%= title %></h1>
    <p>Projects</p>

<section class="container-fluid" id="section1">
    <div class="v-center">
        <h1 class="text-center">Just One Page</h1>
        <h2 class="text-center lato animate slideInDown">Change It To Say <b>Something</b> Unique</h2>      
    </div>
    <a href="#section2">
        <div class="scroll-down bounceInDown animated">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
        </div>
        </a>
</section>


<section class="container-fluid" id="section2">
    <div class="container v-center">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInLeft animate">
                            <div class="panel-heading">
                            <h3>Robust</h3></div>
                            <div class="panel-body">
                                <p>There is other content and snippets of details or features that can be placed here..</p>
                                <hr>GO
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInUp animate">
                            <div class="panel-heading">
                            <h3>Simple</h3></div>
                            <div class="panel-body">
                                <p>There is other content and snippets of details or features that can be placed here..</p>
                                <hr>GO
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInRight animate">
                            <div class="panel-heading">
                            <h3>Clean</h3></div>
                            <div class="panel-body">
                                <p>There is other content and snippets of details or features that can be placed here..</p>
                                <hr>GO
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <div class="row">
            <br>
        </div>
    </div>
    <!--/container-->
</section>

<%- include partials/footer.ejs %>