<%- include partials/header.ejs %>

<!-- Layout of Screenshots of Projects-->
<div class="container-fluid">
	<div class="row">
	    <div class="col-md-4">	    	
            <img class="img-responsive img-rounded" src="http://i359.photobucket.com/albums/oo33/Chang_Liu/0f979c61-bb1a-47fe-8460-c51fb8b024ac_zps9ehgapad.png" />      
            <p class="centerize">A Travel Planner Web App built with Visual Studio with C#</p>  
	    </div>
		<div class="col-md-4">	    	
            <img class="img-responsive img-rounded" src="http://i359.photobucket.com/albums/oo33/Chang_Liu/0f979c61-bb1a-47fe-8460-c51fb8b024ac_zps9ehgapad.png" />
	        <p class="centerize">A Web Site built with HTML and CSS</p>
	    </div>
	    <div class="col-md-4">
	    	<img class="img-responsive img-rounded" src="http://i359.photobucket.com/albums/oo33/Chang_Liu/0f979c61-bb1a-47fe-8460-c51fb8b024ac_zps9ehgapad.png" />    
	    	<p class="centerize">A Web Site built with PHP</p>
	    </div>
	</div>
</div>

<%- include partials/footer.ejs %>